/* .raleway-<uniquifier> {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name
  } */
body{
    background-color: #151736;
}
.root{
    width: 100%;
    max-width: 1280px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000be;
}


.tasks-list{
    width: 250px;
    background-color: #ffffff;
    opacity: 0.6;
    text-align: center;
    border-radius: 15px;
}

.tasks-list__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
}
.tasks-list__wrapper{
    margin: 10px 10px;
}

.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.task__tasks-list{
    margin: 10px 0px;
    padding: 10px;
}

.task__done-wrapper{
   margin-left: 0;
}

.task__icon{
    font-size: 16px;
    color: #234e31be;
}
.add-icon{
    color: #240e2cbe;
}

.task__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.task__title{
    font-weight: 700;
}

.task__status{
    margin-top: 5px;
    font-size: 10px;
}

.task__quantity{
    color: #240e2cbe;
}

.task__time{
    font-size: 10px;
}

.daily-progress{
    width: 150px;
    height: 150px;
    background-color: #afaeb6;
    margin-bottom: 10px;
}

.timer{
    width: 150px;
    height: 150px;
    background-color: #afaeb6;
}